<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Gospel</title>
</head>

<body>
    <!--Aqui inicia o Formulario-->
    <h1>Formulário de Cadastro</h1>
    <div>
        <!--nome-->
        <label for="nome">Nome:</label>
        <input type="text" id="nome" />
    </div>
    <div>
        <!--Sobrenome-->
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" id="sobrenome" />
    </div>
    <div>
        <!--Data de nascimento-->
        <label for="data_nascimento">Data de Nascimento:</label>
        <input type="date" id="data-nascimento">
    </div>
    <div>
        <!--Senha-->
        <label for="senha">Senha:</label>
        <input type="password" id="senha">
    </div>
    <div>
        <!--Cpf-->
        <label for="cpf">CPF:</label>
        <input type="number" id="cpf">
    </div>
    <div>
        <!--email-->
        <label for="email">Email:</label>
        <input type="email" id="email">
    </div>
    <div> <!--telefone-->
        <label for="tell">Telefone</label>
        <input type="tel" id="telefone">
    </div>
    <div>
        <input type="button" value="Confirmar">
    </div>

</body>

</html>